---
title: Task Circuit Activity
meta_title: Fault
edit_link: routine-circuit-activity
---

.row
  .col-xs-12
    h3 Kitchen lights on at night
    p #380, Triggered 12 hours ago
    / == _partial "assignee"

hr

.row
  .col-xs-12
    div.alert.alert-info
      | The circuit—
      span.label.label-info HK-4… | 30-LED | X
      | was at 15kW, 5kW above threshold at 9PM

/ .row
/   .col-xs-12
/     div.alert.alert-warning
/       p We recommend adding a timer

== _partial "taskmanagement"

/ hr
/
/ .row#task-history
/   .col-xs-12
/     p.bg-success Assigned task to @teammember1, @teammember2 today
/     p.bg-primary John commented today
/       <br /> I’m going to check the lighting controls today and see if we still have the issue
/
/ == _partial "comment"
